body{
	overflow-x: hidden;
}


li {
	display: inline-block;
	width: 20%;
	position: relative;
	font-size: 150%;
}
ul ul {
	position: relative;
	display: none;
}
ul ul li {
	display: block;
	width: 150px;
	padding: 10px;
}
ul li:hover ul {
	position: absolute;
	display: block;
	background-color: rgb(202, 240, 154);
	font-size: 50%;
}


.fondo{
	display: block;
	background-color: rgb(137, 241, 142);
}

.imag{
	position: relative;
	top: 10px;
	left: 0;
}

.frente{
	text-align: center;
}

.lista{
	text-align: center;
	border: outset 3px black;
}


.footer-content{
	border: solid 3px black;
	color: blue;
	padding: 5px;
	margin-top: 5px;
}

.p2{
	text-align: right;
	margin: 4px;
}

.iconos{
	text-align: right;
	line-height: 25px;
}
